<ion-view view-title="{{column | uppercase}}">
    <ion-content class="animate-fade-slide-in">
        <div class="item card-item" ng-repeat="task in tasks">
            <div ui-sref="app.task({taskId: task.id, column: column})" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url({{image}});"></span>
                    <strong>{{task.title | uppercase}}</strong>
                    <p>{{task.content}}</p>
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> {{task.deadline}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
