<ion-view view-title="New">
    <div id="newTask" class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Title</span>
            <input type="text" placeholder="My issue title">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Description</span>
            <input type="text" placeholder="Refactor todo app!">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Deadline</span>
            <input type="text" placeholder="10/10/2016">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Type</span>
            <input type="text" placeholder="bug">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Assigned</span>
            <input type="text" placeholder="Jonathan">
        </label>
        <button class="button icon-left button-outline button-stable ion-android-cancel">Cancel</button>
        <button class="button icon-right button-positive ion-android-done">Done</button>
    </div>
</ion-view>